<div class="calendar-wrapper">

    <h2 id="calendar-title">Month</h2>

    <div class="calendar-grid">
        <div class="day-label cell-0">Mon</div>
        <div class="day-label cell-1">Tue</div>
        <div class="day-label cell-2">Wed</div>
        <div class="day-label cell-3">Thu</div>
        <div class="day-label cell-4">Fri</div>
        <div class="day-label cell-5">Sat</div>
        <div class="day-label cell-6">Sun</div>
    </div>

    <% for (var row = 0; row < 5; row++) { %>
        <div class="calendar-grid row-<%= '' + row %> ">
            <% for (var col = 0; col < 7; col++) { %> 
                <div class="cal-cell cell-<%= '' + col %> " id="cell-no-<%= (7*row)+col %>">

                    <div class="cal-event-wrapper">

                        <% events.forEach((event) => { %>
                            <% if (event.eventDateTime.date == (7*row) + col) { %>
                                <div class="cal-event" id="event-no-<%= event.eventDateTime.date %> ">
                                    <a class="event-name" href=""><%= event.eventName %></a>
                                </div>
                            <% } %>
                        <% }) %> 

                    </div>

                    <p class="cell-date" id="cell-date-<%= (7*row)+col %>"></p> 
                    
                </div>
            <% } %>
        </div>
    <% } %>  

</div>

<!-- Used by Server to pass data to client-side script -->
<!-- InnerHTMLs are cleared once data is read -->
<div id="route-month-passer"><%= month %></div>
<div id="route-year-passer"><%= year %></div>

<script src="/scripts/calendar.js"></script>