<div class="view-plan-grid">

    <a id="cal-prev" class="calendar-prev" href="">Previous</a>

    <div class="calendar-wrapper">

        <h2 id="calendar-title">Month</h2>

        <div class="calendar-grid">
            <div class="day-label cell-mon">Mon</div>
            <div class="day-label cell-tue">Tue</div>
            <div class="day-label cell-wed">Wed</div>
            <div class="day-label cell-thu">Thu</div>
            <div class="day-label cell-fri">Fri</div>
            <div class="day-label cell-sat">Sat</div>
            <div class="day-label cell-sun">Sun</div>

            <% for (var row = 0; row < 6; row++) { %>
                <% for (var col = 0; col < 7; col++) { %> 
                    <div class="cal-cell" id="cell-no-<%= (7*row)+col %>">

                        <div class="cal-event-wrapper" id="event-wrapper-<%= (7*row)+col %>">

                            <% events.forEach((event) => { %>
                                <% if (event.startDateTime.date == (7*row) + col + 1 - startingIndex) { %>
                                    <div class="cal-event" id="event-no-<%= event.startDateTime.date %> ">
                                        <a class="event-name" href=""><%= event.eventName %></a>
                                    </div>
                                <% } %>
                            <% }) %> 

                        </div>

                        <p class="cell-date" id="cell-date-<%= (7*row)+col %>"></p> 
                        
                    </div>
                <% } %>
            <% } %>  
        </div>

    </div>

    <a id="cal-next" class="calendar-next" href="">Next</a>

</div>

<!-- Used by Server to pass data to client-side script -->
<!-- InnerHTMLs are cleared once data is read -->
<div id="route-month-passer"><%= month %></div>
<div id="route-year-passer"><%= year %></div>

<script src="/scripts/calendar.js"></script>