<%- include('partials/header') %>

<script src="/scripts/map.js"></script>

<div class="event-info-wrapper">

    <div class="map-info-grid">

        <div id="map" class="event-map"></div>

        <div class="event-title">
            <h1 id="event-name"><%= event.eventName %></h1>    
        </div>
        
        <div class="start-date-time">
            <h4>Starts</h4>
            <h4 id="start-date-time"><%= event.startDateTime.time %>, <%= event.startDateTime.date + '/' + (event.startDateTime.month + 1) + '/' + event.startDateTime.year %></h4>
        </div>
        <div class="end-date-time">
            <h4>Ends</h4>
            <h4 id="end-date-time"><%= event.endDateTime.time %>, <%= event.endDateTime.date + '/' + (event.endDateTime.month + 1) + '/' + event.endDateTime.year %></h4>
        </div>

        <div class="event-address-edit">
            <h4 id="event-address-full"><%= event.eventAddress1 %>, <%= event.eventPostcode %></h3>
            <button class="btn btn-primary" id="edit-event-btn">Edit Event</button>
        </div>

    </div>

</div>

<div id="popup-background"></div>

<div id="edit-event-popup" class="contents-hidden">

    <div class="popup-content">

        <h4>Edit Event</h4>

        <form action="/edit-event/<%= event._id %>" method="post" autocomplete="off">

            <input type="text" name="eventName" placeholder="Event Name" id="name-in" required>
            <input type="datetime-local" name="eventDateTime" step="60" id="datetime-in" required>
            <div class="event-time">
                <input type="range" name="eventLength" min="0" max="8" step="0.5" id="time-in" required>
                <p id="time-in-label"></p>  
            </div>
            <input type="text" name="eventAddress1" placeholder="Address Line 1" id="address1-in" required>
            <input type="text" name="eventPostcode" placeholder="Postcode" id="postcode-in" required>

            <div class="edit-btn-grid">
                <button type="submit" class="btn btn-primary save-btn" value="">Save Changes</button>
                <div id="cancel-btn" class="btn btn-dark cancel-btn">Cancel</div>
                <a href="/event-removed/<%= event._id %>" class="btn btn-danger delete-btn">Delete Event</a>
            </div>

        </form>
        
    </div>

</div>

<script src="/scripts/viewevent.js"></script>
<script src="/scripts/geocode.js"></script>
<script
      src="<%='https://maps.googleapis.com/maps/api/js?key='+process.env.MAPS_API_KEY+'&callback=initMap&libraries=&v=weekly' %>"
      async
> 
</script>

<%- include('partials/footer') %>